{% extends 'base.html' %}
{% block content %}

{# Alert #}
{% include 'alerts.html' %}

<div class="container">
    <div class="row my-4">
        <div>
            {% if not selected_applicants %}
            <div class="text-center">
                <h2><a href="{% url 'job' job.id %}">No appliations yet, please check again later!</a></h2>
            </div>
            {% else %}
            <div class="text-center mb-3">
                <h2>Applications for {{ job.title }}!</h2>
                <hr>
            </div>
            {% for selected_applicant in selected_applicants %}
            <div class="col-lg-4">
                <div class="border p-3">
                    <p>Name: <a href="{% url 'profile' selected_applicant.user.id %}">{{ selected_applicant.user.name }}</a></p> 
                    <p>Email: {{ selected_applicant.user.email }}</p>    
                    {% if selected_applicant.user.resume %}
                    <p>Resume: <a href="{{ selected_applicant.user.resume.url }}" target="_blank">Click to view</a></p>
                    {% endif %}
                    <p>Selected at: {{ selected_applicant.selected_at }}</p>
                    <span class="float-end">
                        <a href="{% url 'delete_selected_list' selected_applicant.job.id selected_applicant.user.id %}" class="btn btn-sm btn-secondary">Delete</a>
                    </span>
                    <br>
                </div>
            </div>
            {% endfor %}
            {% endif %} 
        </div>
    </div>
</div>


{% endblock content %}