{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container mt-2">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
            <div class="my-5 p-4 border">
                <form class="needs-validation" action="" method="POST" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <h5><i class="fa-solid fa-lock"></i> Enter new password</h5>
                        <small>Please enter your new password twice so we can verify you typed it in correctly.</small>
                        <hr>
                    </div>
                    {# Password #}
                    {% for field in form %}
                        <div class="form-group mb-3">
                            <label class="form-label">{{ field.label_tag }}</label>
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control" %}
                            <div class="invalid-feedback">
                                Please enter a {{ field.label }}.
                            </div>
                        {% endif %}
                        </div>
                    {% endfor %}
                    {# Button #}
                    <div class="d-grid mb-3">   
                        <button class="btn btn-dark px-3" type="submit">Change my password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static '/js/form_validation.js' %}"></script>

{% endblock content %}