{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container mt-2">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
            <div class="my-3 p-4 border bg-light">
                {% include 'alerts.html' %}
            <form class="needs-validation" action="" method="POST" novalidate>
                {% csrf_token %}
                <h2 class="fw-bold mb-1">Signup <i class="fa-solid fa-user-plus"></i></h2>
                <p class="small mb-2">Signup for using Find-Dev!</p>
                <hr>

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
                
                {% for field in form %}
                    <div class="form-group mb-2">
                        <label class="form-label">{{ field.label_tag }}</label>

                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control" %}
                            <div class="invalid-feedback">
                                Please enter a {{ field.label }}.
                            </div>
                        {% endif %}

                    </div>
                {% endfor %}
                

                <div class="d-grid mb-2">   
                    <button class="btn btn-primary px-3" type="submit">Signup</button>
                </div>
            </form>
            
            <div class="row">
                <div class="d-grid col-md-6 mb-2">
                    <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-dark"><i class="fab fa-google fa-lg"></i> Continue with Google</a>
                </div>
                <div class="d-grid col-md-6 mb-2">
                    <a href="{% url "social:begin" "github" %}" class="btn btn-dark"><i class="fab fa-github fa-lg"></i> Continue with Github</a>
                </div>
            </div> 
                
            <div class="text-center mt-4">
                <p>Already have an account?<a href="{% url 'login' %}" class="fw-bold"> Login</a></p>
            </div>

        </div>
        </div>
    </div>
</div>

<script src="{% static '/js/form_validation.js' %}"></script>

{% endblock content %}