{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a href="/" class="navbar-brand fw-bold col-md-2">Find Developers <img src="{% static '/images/icon.png' %}" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse col-md-9">
      
      <ul class="navbar-nav col-lg-10 mx-auto text-center fw-bold justify-content-center">
        <li>
          <a class="nav-link" href="{% url 'home' %}">Developers</a>
        </li>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <li>
          <a class="nav-link" href="{% url 'projects' %}">Projects</a>
        </li>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <li>
          <a class="nav-link" href="{% url 'jobs' %}">Jobs</a>
        </li>
      </ul>

      <ul class="navbar-nav col-md-2 mx-auto text-center justify-content-end">
        {% if request.user.is_authenticated %}
          <a class="nav-item nav-link position-relative" href="{% url 'inbox' %}">Inbox
            {% if message.count > 0 %}
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ message.count }}
                <span class="visually-hidden">unread messages</span>
              </span>
            {% endif %}
          </a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Job</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'applied' request.user.profile.id %}">Applied</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'add_job' %}">Add Job</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Profile</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'profile' request.user.profile.id %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'account' %}">Account</a></li>
              <li><a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <a class="nav-item nav-link" href="{% url 'register' %}">Signup</a>
          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
          {% endif %}
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      </ul> 
    </div>
  </div>
</nav>
