{% if page_obj.has_other_pages %}
    <div class="text-center my-4">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-dark">&laquo;</a>
        {% else %}
            <a href="#" class="btn btn-outline-dark disabled">&laquo;</a>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <a href="" class="active btn btn-dark">{{ i }}</a>
            {% else %}
            <a class="btn btn-outline-dark" href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-dark">&raquo;</a>
        {% else %}
            <a href="#" class="btn btn-outline-dark disabled">&raquo;</a>
        {% endif %}

        <p class="my-3">
            Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </p>
    </div>
{% endif %}